/* Подключение шрифта Patrick Hand */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* Основные стили */
body {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    text-align: center;
}

/* Контейнер с панелью управления и предпросмотром */
.builder-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Контейнер панели управления */
.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 540px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

/* Левый блок - Оглавление */
.control-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Patrick Hand', sans-serif;
    font-size: 18px;
    color: black;
}

/* Правый блок - Кнопки управления */
.control-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.control-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.control-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.control-buttons button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-family: 'Patrick Hand', sans-serif;
    font-weight: 400;
}

.preset-value {
    font-size: 16px;
    font-family: 'Patrick Hand', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    width: 30px;
}

/* Предпросмотр аватара */
.avatar-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
}

.avatar-preview {
    background-color: #f0f0f0;
    border-radius: 16px;
    border: 2px solid #333;
    width: 500px;
    height: 500px;
}
